@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600;300;400;500&display=swap');

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.bucket-wrap {
    display: flex;
    flex-direction: column;
}

.bucket-wrap>* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.bucketitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: 0.2s;
    background-color: white;
    height: 150px;
}

.bucketitem:hover {
    z-index: 1;
    box-shadow: 0px 0px 4px 5px #f5f5f5;
}

.item-ui {
    display: flex;
    align-items: center;
}

.item-ui>img {
    width: 120px;
    height: 120px;
}

.item-info {
    margin-left: 26px;
    display: flex;
    flex-direction: column;
}

.selectBtn {
    margin-right: 20px;
    cursor: pointer;
    justify-self: right;
    width: 35px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.item-name {
    font-size: 20px;
    font-weight: 600;
}

.item-price {
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-weight: 400;
}

.checked{
    border: none;
    background-color: #29b0ff;
}