@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: black
}

body {
    height: 100vh;
    background-color: #f7f7f7;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
}

.container {
    margin-top: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.nav-header {
    width: 100px;
    flex: 1;
}

.nav-container {
    flex: 8;
}

.nav-footer {
    flex: 1;
}

.logoWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logoWrap>img {
    width: 100px;
    height: 100px;
}

.slotlist-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0 20%;
}

.itemslot-wrap {
    font-size: 21px;
    display: flex;
    min-width: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.itemslot-wrap>a {
    box-sizing: content-box;
    padding: 20px;
    transition: 0.1s;
}

a:hover {
    color: #4dade6;
}

.sellitem-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    overflow: hidden;
}

.sellitem {
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(237, 237, 237, 0.5);
    width: 200px;
    height: 200px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sellitem > * {
    margin: 5px;
}

.sellitem > img {
    width: 120px;
    height: 120px;
}