@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500&display=swap');

.container > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 4px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 2vw;
}

.container{
    background-color: rgb(236, 236, 236);
    width: 100vw;
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.receiptWrap {
    border-radius: 8px;
    width: 100vw;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 500;
}

.receiptHeader{
    background-color: white;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.receiptContainer{
    margin-top: 10px;
    background-color: white;
    flex: 2.3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}