<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bucket.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="./img/logo.png" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/my">MY</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer">
                <a href="/{{loginStatus}}">
                    <div class="loginWrap">
                        {{loginStatus}}
                    </div>
                </a>
            </div>
        </div>
        <!--Content-->
        <div class="container">
            <div class="bucket-wrap">
                <div class="status-viewer">
                    <div class="status-header">
                        <div class="status-count">0개 선택</div>
                    </div>
                    <div class="status-footer">
                    </div>
                </div>
                <div class="bucketitem">
                    <div class="item-ui">
                        <img src="img/songe.jpg" alt="상품">
                        <div class="item-info">
                            <div class="item-name">초코송이</div>
                            <div class="item-cost">1200원 × 3개 = 3600원</div>
                            <div class="item-hidden-data">
                                <span class="item-price">1200</span>
                                <span class="item-count">3</span>
                            </div>
                        </div>
                    </div>
                    <div class="selectBtn"></div>
                </div>
                <div class="bucketitem">
                    <div class="item-ui">
                        <img src="img/choco.jpg" alt="상품">
                        <div class="item-info">
                            <div class="item-name">ABC 초콜릿</div>
                            <div class="item-cost">1300원 × 1개 = 1300원</div>
                            <div class="item-hidden-data">
                                <span class="item-price">1300</span>
                                <span class="item-count">1</span>
                            </div>
                        </div>
                    </div>
                    <div class="selectBtn"></div>
                </div>
                <div class="decision-controller">
                    <div class="status-costTotal">합계 : 13000원</div>
                </div>

            </div>
        </div>
    </div>
    <script>
        const countView = document.getElementsByClassName('status-count')[0]
        const itemslots = document.getElementsByClassName('bucketitem')
        const slots = []

        function onSelect() {
            var count = 0
            var costTotal = 0
            for (var i = 0; i < slots.length; i++) {
                if (slots[i].checkbox.className.indexOf('checked') !== -1) {
                    count += 1
                    costTotal += slots[i].price * slots[i].count
                }
            }
            countView.innerText = `${count}개 선택`
        }

        class Slot {
            constructor(index) {
                this.index = index
                this.itemslot = itemslots[index]
                this.checkbox = itemslots[index].getElementsByClassName('selectBtn')[0]
                this.price = Number(itemslots[index].getElementsByClassName('item-price')[0].innerText)
                this.count = Number(itemslots[index].getElementsByClassName('item-count')[0].innerText)
                //Event
                this.itemslot.addEventListener('click', (env) => {
                    if (this.checkbox.className.indexOf('checked') == -1) {
                        this.checkbox.className += ' checked'
                    } else {
                        this.checkbox.className = 'selectBtn'
                    }
                    onSelect()
                })
            }
        }

        for (var i = 0; i < itemslots.length; i++) {
            slots.push(new Slot(i))
        }
    </script>
</body>

</html>