<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bucket.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="./img/logo.png" id="logoImg" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/my">MY</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer">
                <div class="loginWrap">
                    <a href="/{{loginStatus}}">{{userName}}</a>
                </div>
            </div>
        </div>
        <!--Content-->
        <div class="container">
            <div class="bucket-wrap">
                <div class="status-viewer">
                    <div class="status-header">
                        <div class="status-count">0개 선택</div>
                    </div>
                    <div class="status-footer">
                        <div class="selectAllBtnWrap">
                            전체선택
                            <div class="selectAllbtn"></div>
                        </div>
                    </div>
                </div>
                {{bucketItemList}}
                <div class="decision-controller">
                    <div class="status-costTotal">합계 : 0</div>
                    <div class="btnWrap">
                        <div class="deleteBtn button">삭제</div>
                        <div class="buyBtn button">구매</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        const countView = document.getElementsByClassName('status-count')[0]
        const costTotalView = document.getElementsByClassName('status-costTotal')[0]
        const selectAllBtnArea = document.getElementsByClassName('selectAllBtnWrap')[0]
        const selectAllCircle = document.getElementsByClassName('selectAllbtn')[0]
        const itemslots = document.getElementsByClassName('bucketitem')
        const slots = []


        function toFormatPoint(point) {
            return point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }


        function onSelect() {
            var count = 0
            var costTotal = 0
            for (var i = 0; i < slots.length; i++) {
                if (slots[i].checkbox.className.indexOf('checked') !== -1) {
                    count += 1
                    costTotal += slots[i].price * slots[i].count
                }
            }
            if (count == slots.length) {
                selectAllCircle.className = 'selectAllbtn checked-all'
            }
            costTotalView.innerText = `합계 : ${toFormatPoint(costTotal)}`
            countView.innerText = `${count}개 선택`
        }

        selectAllBtnArea.addEventListener('click', () => {
            if (selectAllCircle.className.indexOf('checked-all') == -1) {
                selectAllCircle.className += ' checked-all'
                for (var i in slots) {
                    if (slots[i].checkbox.className.indexOf('checked') == -1) {
                        slots[i].isChecked = true
                        slots[i].checkbox.className += ' checked'
                    }
                }
                onSelect()
            } else {
                selectAllCircle.className = 'selectAllbtn'
                for (var i in slots) {
                    slots[i].isChecked = false
                    slots[i].checkbox.className = ' selectBtn'
                }
                onSelect()
            }
        })

        $(".buyBtn").click(() => {
            var items = []
            var count = 0
            for (var i in slots) {
                if (slots[i].isChecked) {
                    count++
                    items.push({
                        num: slots[i].num,
                        count: slots[i].count,
                        bucketIndex: i
                    })
                }
            }
            if(count == 0) {
                return
            }
            document.location = "/buys-check?items=" + JSON.stringify(items)
        })

        $(".deleteBtn").click(() => {
            var items = []
            for (var i in slots) {
                if (slots[i].isChecked) {
                    items.push(slots[i].index)
                }
            }
            document.location = "/delete-bucket?items=" + JSON.stringify(items)
        })

        class Slot {
            constructor(index) {
                this.index = index
                this.itemslot = itemslots[index]
                this.checkbox = itemslots[index].getElementsByClassName('selectBtn')[0]
                this.num = Number(itemslots[index].getElementsByClassName('item-num')[0].innerText)
                this.count = Number(itemslots[index].getElementsByClassName('item-count')[0].innerText)
                this.price = Number(itemslots[index].getElementsByClassName('item-price')[0].innerText)
                this.isChecked = false
                //Event
                this.itemslot.addEventListener('click', (env) => {
                    if (this.checkbox.className.indexOf('checked') == -1) {
                        this.checkbox.className += ' checked'
                        this.isChecked = true
                    } else {
                        selectAllCircle.className = 'selectAllbtn'
                        this.checkbox.className = 'selectBtn'
                        this.isChecked = false
                    }
                    onSelect()
                })
            }
        }

        for (var i = 0; i < itemslots.length; i++) {
            slots.push(new Slot(i))
        }
    </script>
</body>

</html>