<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/changePwd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Content-->
        <div class="container">

            <form action="/give-check" method="post">
                <div class="item-data-wrap">
                    <div class="item-textWrap">
                        <div class="title">포인트 입금</div>
                        <input class="inputTextData" name="uid" placeholder="ID" type="text">
                        <input class="inputTextData" id="price" name="point" placeholder="포인트" type="text">
                        <label for="submitBtn">
                            <div class="imgIploadBtn">입금</div>
                        </label>
                        <input type="submit" id="submitBtn">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script src="/src/post.js"></script>
</body>

</html>