<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="./img/logo.png" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/my">MY</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer"></div>
        </div>
        <!--Content-->
        <div class="container">
            <div class="sellitem-wrap">
                <div class="sellitem">
                    <img src="img/songe.jpg" alt="상품">
                    <div class="sellitem-name">초코송이a{{test}}</div>
                    <div class="sellitem-price">4$</div>
                </div>
                <div class="sellitem">
                    <img src="img/banana.jpg" alt="상품">
                    <div class="sellitem-name">바나나맛 우유</div>
                    <div class="sellitem-price">1.9$</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>