<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/item-info.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="/img/logo.png" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/post">POST</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer">
                <a href="/{{loginStatus}}">
                    <div class="loginWrap">
                        {{loginStatus}}
                    </div>
                </a>
            </div>
        </div>
        <!--Content-->
        <div class="container">
            <div class="wrapInfo">
                <div class="info-header">
                    <div class="info-imgWrap">
                        <img div="item-image" src="/img/{{imgName}}" alt="물품 사진">
                    </div>
                    <div class="info-textWrap">
                        <div class="buy-header">
                            <div class="info-itemName">{{itemName}}</div>
                            <div class="info-footer">
                                <div class="info-itemPrice">{{itemPrice}}원</div>
                                {{ownerController}}
                            </div>
                        </div>
                        <div class="buy-container">
                            <div class="cost-result">
                                1개 × {{itemPrice}}원 = {{itemPrice}}원
                            </div>
                        </div>
                        <div class="buy-footer">
                            <div class="inputCount-wrap">
                                <input class="count" type="text" value="1" maxlength="4">
                                <div class="countControll">
                                    <div class="countUp">+</div>
                                    <div class="countDown">-</div>
                                </div>
                            </div>
                            <div class="button buynowBtn">바로구매</div>
                            <div class="button insertBucketBtn">담아두기</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dataContext" style="display: none;">
                <div class="priceHolder">{{itemPrice}}</div>
            </div>
        </div>

    </div>
    <script src="/src/item-info.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(".buynowBtn").click(() => {
            var itemCount = Number($(".count")[0].value)
            if (itemCount < 0) {
                return
            }
            document.location = `/buy-check?num={{itemNum}}&count=${itemCount}`
        })

        $(".insertBucketBtn").click(() => {
            $.ajax({
                type: "post",
                async: true,
                url: "/insert-bucket",
                data: {
                    "data": JSON.stringify({
                        "num": Number('{{itemNum}}'),
                        "count": Number($(".count")[0].value)
                    })
                },
                success: (data) => {
                    if (data == "OK") {
                        alert("장바구니에 담았습니다.")
                    }
                    else if (data == "NOPE") {
                        alert("로그인이 필요한 서비스입니다.")
                        location.href = "/login"
                    }
                    else if (data == "ERROR") {
                        alert("서버에서 처리 중 오류가 발생하였습니다.")
                    }
                },
                error: (req, status, error) => {
                    console.log(`Error Code : ${status}`)
                    console.log(error)
                    alert(error)
                    alert("오류가 발생하였습니다. 콘솔창을 확인해주세요.")
                }
            });
        })
        console.log(JSON.stringify({
            "num": Number('{{itemNum}}'),
            "count": Number($(".count")[0].value)
        }))
    </script>
</body>

</html>