<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="./img/logo.png" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/my">MY</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer">
                <a href="/{{loginStatus}}">
                    <div class="loginWrap">
                        {{userName}}
                    </div>
                </a>
            </div>
        </div>
        <!--Content-->
        <div class="container">

            <div class="loginWrap">
                <form action="/login-check" method="post">
                    <div class="formInner">
                        <div class="inputTextWrap">
                            <div class="inputWrap">
                                <input type="text" name="uid" id="input-id" placeholder="ID" maxlength="30">
                            </div>
                            <div class="inputWrap">
                                <input type="text" name="upw" id="input-pw" placeholder="Password" maxlength="30">
                            </div>
                        </div>
                        <div class="alignCenter">
                            <input type="submit" id="loginBtn" class="button" value="로그인">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>