<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/item-info.css">
    <link rel="stylesheet" href="/css/modify.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T SHOP</title>
</head>

<body>
    <div class="wrap">
        <!--Navigator-->
        <div class="nav">
            <div class="nav-header">
                <a href="/">
                    <div class="logoWrap">
                        <img src="/img/logo.png" alt="LOGO">
                    </div>
                </a>
            </div>
            <div class="nav-container">
                <div class="slotlist-wrap">
                    <div class="itemslot-wrap">
                        <a href="/">SHOP</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/bucket">BUCKET</a>
                    </div>
                    <div class="itemslot-wrap">
                        <a href="/post">POST</a>
                    </div>
                </div>

            </div>
            <div class="nav-footer">
                <a href="/{{loginStatus}}">
                    <div class="loginWrap">
                        {{loginStatus}}
                    </div>
                </a>
            </div>
        </div>
        <!--Content-->
        <div class="container">
            <div class="wrapInfo">
                <div class="info-header">
                    <div class="info-imgWrap">
                        <img div="item-image" src="/img/{{imgName}}" alt="물품 사진">
                    </div>
                    <div class="info-textWrap">
                        <form action="/modify-check" method="post">
                            <input type="text" id="itemNum" name="itemNum" value="{{itemNum}}">
                            <div class="buy-header">

                                <div class="info-itemName"><input type="text" placeholder="이름" name="name"
                                        value="{{itemName}}"></div>
                                <div class="info-itemPrice">
                                    <input type="text" autocomplete="off"  placeholder="가격" name="price" value="{{itemPrice}}" id="price">원
                                </div>

                            </div>
                            <div class="buy-container"></div>

                            <div class="buy-footer">
                                <input type="submit" value="저장하기" class="button summit"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="dataContext" style="display: none;">
                <div class="priceHolder">{{itemPrice}}</div>
            </div>
        </div>
        <script>
            const priceInput = document.getElementById('price')
            var lastPriceValue = priceInput.value
            priceInput.addEventListener('keyup', (event) => {
                if (isNaN(Number(priceInput.value))) {
                    priceInput.value = lastPriceValue
                } else {
                    lastPriceValue = priceInput.value
                    return
                }
            })
        </script>
    </div>
</body>

</html>