@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600;300;400;500&display=swap');

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.bucket-wrap {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bucket-wrap>* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.bucketitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: 0.2s;
    background-color: white;
    height: 150px;
}

.bucketitem:hover {
    z-index: 1;
    box-shadow: 0px 0px 4px 5px #eeeeee;
}

.item-ui {
    display: flex;
    align-items: center;
}

.item-ui>img {
    width: 120px;
    height: 120px;
}

.item-info {
    margin-left: 26px;
    display: flex;
    flex-direction: column;
}

.selectBtn {
    margin-right: 20px;
    cursor: pointer;
    justify-self: right;
    width: 35px;
    height: 35px;
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 10px;
}

.item-name {
    font-size: 20px;
    font-weight: 600;
}

.item-cost {
    font-size: 15px;
    font-weight: 400;
}

.checked {
    border: none;
    background-color: #29b0ff;
}

.status-viewer {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 5px;
}

.status-viewer>* {
    font-weight: 500;
}

.status-header {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.status-container {
    flex: 3;
    display: flex;
    justify-content: left;
    align-items: center;
}

.status-costTotal {
    color: rgb(70, 70, 70);
    font-size: 18px;
}

.status-footer {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.item-hidden-data {
    display: none;
}

.decision-controller {
    border-top: 1px solid gray;
    padding-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    color: white;
    background-color: rgb(141, 141, 141);
}

.buyBtn {
    color: white;
    background-color: rgb(141, 141, 141);
}

.selectAllbtn {
    margin: 10px;
    margin-left: 5px;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.selectAllBtnWrap{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.status-count{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
}

.checked-all{
    background-color: #29b0ff;
    border: #29b0ff;
}

.btnWrap {
    display: flex;
    flex-direction: row;
}

.button:hover {
    background-color: rgb(98, 98, 98);
}