@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.wrapInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 400px;
}

.info-imgWrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-textWrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.info-textWrap {
    user-select: all;
}

img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.buy-header {
    width: 100%;
}

.info-itemName {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 10px;
    padding-left: 5px;
}

.info-itemPrice {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 15px;
    color: gray;
}

.buy-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buynowBtn {
    color: white;
    background-color: rgb(141, 141, 141);
}

.insertBucketBtn {
    color: white;
    background-color: #29b0ff;
}

.inputCount-wrap {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.count {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0;
    outline: none;
    width: 50px;
    text-align: center;
    font-size: 16px;
    border-right: none;
}

.countControll {
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-right: 5px;
}

.countControll>* {
    font-weight: 300;
    border: 1px solid rgb(192, 192, 192);
    color: rgb(192, 192, 192);
    box-sizing: border-box;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.countControll>*:hover {
    color: black;
    background-color: #f7f7f7;
}

.buy-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cost-result {
    color: gray;
    font-size: 16px;
}

.countUp {
    border-bottom: none;
}

.countDown {
    padding-bottom: 5px;
}

.info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modifyBtn {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1px;
    color: gray;
    margin-top: 15px;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.1s;
}

.modifyBtn:hover {
    color: #29b0ff;
}

@media screen and (max-width : 410px) {
    img {
        width: 190px;
        height: 190px;
        object-fit: cover;
    }

    .button {
        display: flex;
        font-size: 12px;
        width: 70px;
        padding-top: 15px;
    }

    .info-itemName{
        font-size: 22px;
    }

    .info-itemPrice{
        font-size: 18px;
        display: flex;
        justify-content: left;
    }

    .cost-result{
        font-size: 16px;
    }

    .soldout {
        font-size: 18px;
    }
    
    .item-image {
        width: 200px;
        height: 200px;
    }
    
    .button{
        width: 100px;
        font-size: 15px;
        padding-top: 14px;
    }
}