.checkerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-bottom: 50px;
}

.checkerManage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    padding: 20px;
    font-size: 24px;
    outline: none;
    border: 2px solid black;
    border-radius: 0;
    text-align: center;
}

.button {
    width: 100px;
    color: white;
    background-color: rgb(141, 141, 141);
}

.button:hover {
    background-color: rgb(98, 98, 98);
}