@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500&display=swap');


.container {
    font-size: 20px;
    justify-content: center;
    padding: 50px 5px;
    display: flex;
    flex-direction: column;
}

.wrapData {
    border: 1px solid #e1e3e1;
    border-radius: 8px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width:900px) {
    .container {
        align-items: center;
        padding: 50px 150px;
    }

    .wrapData {
        max-width: 900px;
    }
}

.dataline {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.dataline:last-child {
    margin-bottom: 0px;
}

.kor-font {
    padding-top: 4px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
}

.header {
    color: #797777;
    width: 100px;
}

.buttonline {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    height: 50px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #828282;
}

.logoutBtn:hover {
    border: none;
    background-color: #d93c3a;
    color: #f6f6f6;
}

.receiptWrap {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.receiptItem {
    margin: 10px;
}

.receiptDataWrap {
    border: 1px solid #bbbbbb;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: 200px;
    height: 100px;
}

.receiptName {}

.receiptIndex {
    font-weight: 300;
    font-size: 14px;
    color: #606060;
}

.receiptItem:hover {
    z-index: 1;
    box-shadow: 0px 0px 4px 5px #eeeeee;
}

.receiptContainer {
    margin-top: 10px;
    background-color: white;
    flex: 2.3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.title {
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}

.item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
    color: #5a5d5a;
    border-bottom: 1px solid #eeeeee;
}


.item>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemHeader {
    width: 100px;
    margin-right: 20px;
}

.itemContainer {
    display: flex;
    align-items: center;
    width: 300px;
    margin-right: 10px;
}

.itemFooter {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explain>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp1 {
    width: 100px;
    margin-right: 20px;
}

.exp2 {
    width: 300px;
    margin-right: 10px;
}

.exp3 {
    width: 50px;
}

.qrWrap{
    margin-top: 10PX;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QR {
    height: 200px;
    width: 200px;

}

@media screen and (max-width : 410px) {
    .container{
        font-size: 15px;
        padding-top: 5px;
    }

    .item {
        font-size: 13px;
    }
    .exp1{
        font-size: 11px;
        min-width: 0;
        width: 100px;
        margin-right: 10px;
    }
    .exp2 {
        width: 200px;
        margin-right: 10px;
    }
    
    .exp3 {
        width: 50px;
    }

    .itemHeader {
        width: 100px;
        margin-right: 10px;
    }
    
    .itemContainer {
        display: flex;
        align-items: center;
        width: 200px;
        margin-right: 10px;
    }
    
    .itemFooter {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .itemContainer{
        width: 100px;
    }
}

.used{
    background-color: #e1e1e1;
}