@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500&display=swap');

.container>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 4px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 2vw;
}

.container {
    width: 100vw;
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.receiptWrap {
    border-radius: 8px;
    width: 80vw;
    margin-top: 40px;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.receiptHeader {
    background-color: white;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
}

.receiptContainer {
    margin-top: 10px;
    background-color: white;
    flex: 2.3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.title {
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}

.block {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
    color: #5a5d5a;
    border-bottom: 1px solid #eeeeee;
}

.blockHeader {
    width: 150px;
}

.item{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
    color: #5a5d5a;
    border-bottom: 1px solid #eeeeee;
}

.itemHeader {
    margin-right: 20px;
}

.itemHeader > img {
    width: 100px;
    height: 100px;
}

.itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-right: 10px;
}

.itemFooter {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explain > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp1 {
    width: 100px;
    margin-right: 20px;
}

.exp2 {
    width: 250px;
    margin-right: 10px;
}

.exp3 {
    width: 50px;
}